<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
<!-- 	<appender name="consoleAppender" class="ch.qos.logback.core.FileAppender">
		<file>/opt/demo/fantasyleague/fantasyleague-log.json</file> -->
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<pattern>
					<pattern>
						{
						"severity": "%level",
						"trace": "%X{X-B3-TraceId:-}",
						"span": "%X{X-B3-SpanId:-}",
						"parent": "%X{X-B3-ParentSpanId:-}",
						"message": "%message"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>
	<logger name="jsonLogger" additivity="false" level="DEBUG">
		<appender-ref ref="consoleAppender" />
	</logger>
	<root level="INFO">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>